%header
  %ul
    %li ナイス
    %li コメント
    %li その他
    %li sampleのマイページ
    %li メニュー
.header__top
  %p.logo 読書メーター
  .header__top_search_box
  %a{ href: "#"}
    ホーム
  %a{ href: "#"}
    読書記録
  %a{ href: "#"}
    感想・レビュー
  %a{ href: "#"}
    繋がる
  %a{ href: "#"}
    本を探す
