=render partial: "header"
.collection
  %a.collection-item{:href => "#!"}
    Alan
    %span.badge 1
  %a.collection-item{:href => "#!"}
    Alan
    %span.new.badge 4
  %a.collection-item{:href => "#!"} Alan
  %a.collection-item{:href => "#!"}
    Alan
    %span.badge 14
